@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    flex-direction: column;
    background: white;
    position: relative;
}

.floatbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: sticky;
    top: 20px;
    transition: all 0.3s ease;
    transform: translateY(700px);
}


.floatbar-nav {
    display: flex;
    justify-content: space-around;
    gap: 90px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.icon-bar {
    transition: all 0.3s ease;
}

.icon-bar:hover {
    transform: scale(1.10);
}


.hd-favicon {
    display: inline-block;
    width:60px;
}

.main-title {
    text-align: center;
    margin: 20px;
    margin-bottom: 0px;
    color: #4A8FE7;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.086);
}

.main-subtitle{
    color: #4A8FE7;
    text-align: center;
    margin-bottom: 20px;
}

#planos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#planos > div > h1{
    font-family: 'Fascinate', system-ui;
    font-size: 60px;
}

#planos .main-title {
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}

#planos .main-title > h1 {
    padding-bottom: -40px;
}

.planos-cards{
    display: flex;
    justify-content: space-around;
}

.card-pro{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
    outline: 2px solid #4A8FE7;
    scale: calc(0.85);
}

.card-pro:hover{
    box-shadow: 0px 0px 30px #4a8ee765;
    transform: scale(1.01);
}

.pro-title {
    color: white;
    background-color: #4A8FE7;
    border-radius: 20px;
}

.card-proplus{
    background:linear-gradient(to right, #4A8FE7, #0E376C);
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
    outline: 2px solid #4A8FE7;
}

.card-proplus:hover{
    box-shadow: 0px 0px 30px #4a8ee765;
    transform: scale(1.01);
}

.proplus-title{
    color: white;
    background:linear-gradient(to right, #4A8FE7, #0659c6);
    border-radius: 20px;
}

.card-max{
    background:linear-gradient(to right, #F9A620,#CA5310);
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
    outline: 2px solid #F9A620;
    box-shadow: 0px 0px 30px #f9a62051;
}

.card-max:hover{
    transform: scale(1.02);
}

.max-title{
    box-shadow: 0px 0px 20px #00000026;
    color: white;
    background:linear-gradient(to right, #F9A620,#CA5310);
    border-radius: 20px;
}

.card-max > .atribbutes > ul > li {
    color: white;
    font-weight: bold;
}

.atribbutes {
    padding: 20px;
}

.card-proplus > .atribbutes > ul > li {
    color: white;
    font-weight: bold;
}

.price-gold{
    color: #ffffff;
}

.card-proplus > .price {
    color: white;
}

.price{
    padding: 20px;
    padding-top: 0px;
}

.price > p {
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}

.buy-button {
    padding: 20px 50px;
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 18px;
    background-color: #4A8FE7;
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-button:hover{
    box-shadow: 0px 0px 20px #4a8ee77f;
    transform: scale(0.95);
}

.buy-buttongold {
    padding: 20px 50px;
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 18px;
    background-color: #F9A620;
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-buttongold:hover{
    box-shadow: 0px 0px 20px #F9A620;
    transform: scale(0.95);
}

li {
    list-style: none;
}

li::before{
    content: url('icons/checkatribbute.png');
    vertical-align: middle;
}

.bluepro::before{
    content: url('icons/checkatribbutew.png');
    vertical-align: middle;
}

.gold::before {
    content: url('icons/checkatribbutew.png');
}

footer {
    margin: 0;
    width: 100%;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: end;
}

@media screen and (max-width: 1200px) {
    #planos {
        display: inline;
    }
}

@media screen and (max-width: 740px) {
    header {
        display: inline;        
    }

    header > h1 {
        text-align: center;
    }

}

@media screen and (max-width: 630px) {
    header > nav {
        display: none;
    }

    header {
        align-content: center;
        padding: 15px;
    }

    header > button {
        display: inline;
        background: none;
        border-style: none;
        width: 100%;
    }

    .menu-bar{
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .menu-bar:hover{
        transform: scale(0.95);

    }
}

@media screen and (max-height: 400px) {
    .card-pro {
        display: flex;
    }

    .card-max {
        display: flex;
    }

    .card-proplus{
        display: flex;
    }
}
