@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.50fr 0.25fr 5fr 0.50fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: rgb(222, 222, 145);
}

.topo, .menu, .principal, .secundario, .rodape {
    background-color: yellow;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.topo {
    grid-area: 1 / 1 / 2 / 5;
}

.menu {
    grid-area: 2 / 1 / 3 / 5 ;
}

.principal {
    grid-area: 3 / 1 / 4 / 4;
}

.secundario {
    grid-area: 3 / 4 / 4 / 5;
}

.rodape {
    grid-area: 4 / 1 / 5 / 5;
}
