@charset "UTF-8";

/* Midias */

@media print {
    #phone {
        display: none;
    }

    #print {
        display:block;
    }

    main {
        outline: 2px solid black;
    }

    h1 {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url('../imgs/back-tablet.jpg');
    }

    #phone{
        display: none;
    }

    #tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url('../imgs/back-pc.jpg');
    }

    #tablet,#phone {
        display: none;
    }

    #pc {
        display: block;
    }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url('../imgs/back-tv.jpg');
    }

    #tablet, #phone, #pc {
        display: none;
    }

    #tv {
        display: block;
    }
}