@charset "UTF-8";

body {
    font-family: sans-serif;
    background-color: rgb(134, 134, 134);
}

header {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    text-align: center;
}

nav {
    background-color: black;
    color: brown;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 100px;
}

main {
    background-color: beige;
    padding: 10px;
    margin: 10px;
    margin-top: 150px;
    border-radius: 15px 40px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.308);
}

section {
    background-color: black;
    width: 250px;
    margin: auto;
}

section > article {
    color: white;
    text-align: center;
}

footer {
    background-color: azure;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.187);
}

footer > p {
    font-weight: bold;
    margin: 0;
}

.bola {
    background-color: aliceblue;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    border-radius: 50px;
}