@charset "UTF-8";

div{
    display: inline-block;
    background-color: lightgreen;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

div:hover{
    background-color: yellowgreen;
}